<button class="btn @Class" @onclick="() => Show = true" @onclick:stopPropagation="true">@ButtonContent</button>
<ModalForm Model="Model" OnValidSubmit="OnValidSubmit" @bind-Show="Show" @bind-Show:event="@ShowChanged" ModalTitle="@ModalTitle" Body="Body" Footer="Footer"/>

@code {
	[Parameter] public string Class { get; set; } = string.Empty;
	#region Modal
	
	[Parameter] [EditorRequired] public required string ModalTitle { get; set; }
	[Parameter] [EditorRequired] public required RenderFragment<ModalForm.ModalFormContext> Body { get; set; }
	[Parameter] [EditorRequired] public required RenderFragment ButtonContent { get; set; }

	[Parameter] public EventCallback<bool> ShowChanged { get; set; }
	[Parameter] public RenderFragment<ModalForm.ModalFormContext>? Footer { get; set; }

	public bool Show { get; set; }

	#endregion
	
	#region EditForm

	[Parameter] public object? Model { get; set; }
	[Parameter] public EventCallback<ModalForm.ModalFormContext> OnValidSubmit { get; set; }

	#endregion
}